/* Tło całej strony */
body {
    background-color: #f5f5dc; /* Kremowy kolor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Kontener na całą listę */
.container {
    background-color: white; /* Biały kolor tła */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Efekt wypukłości */
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Nagłówek */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Styl wyszukiwarki i formularza */
input[type="text"], input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Kontener na formularz */
.task-form {
    display: flex;
    justify-content: space-between; /* Rozkład równomierny */
    align-items: center; /* Wyrównanie w pionie */
}

/* Przycisk dodawania zadania */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Odstęp między polem a przyciskiem */
}

button:hover {
    background-color: #45a049;
}

/* Styl listy zadań */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styl przycisku usuwania */
li button {
    padding: 3px 5px; /* Mniejszy padding */
    font-size: 0.75em; /* Mniejsza czcionka */
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: auto; /* Automatyczna szerokość */
    flex-shrink: 0; /* Zapobieganie rozciąganiu */
}

li button:hover {
    background-color: #e60000;
}

mark {
    background-color: yellow;
}

/* Stylizowanie nazw zadań */
.task-name {
    width: 33.3%; /* Ustalona szerokość */
    overflow-wrap: break-word; /* Zawijanie tekstu */
}

.task-deadline {
    width: 33.3%; /* Ustalona szerokość */
    text-align: center; /* Wyśrodkowanie */
}

.task-delete {
    width: 33.3%; /* Ustalona szerokość */
    text-align: right; /* Wyśrodkowanie */
}
