body {
    font-family: 'Georgia', serif; /* Wbudowana czcionka szeryfowa */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Wyśrodkowanie w poziomie, odstęp od góry */
    min-height: 100vh; /* Wysokość całego widoku */
    background: url('zorza.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Biały kolor tekstu dla kontrastu */
    text-align: center;
    margin: 0;
    padding: 40px 0; /* Dodanie odstępu od góry i dołu */
}

.container {
    background: rgba(0, 0, 0, 0.8); /* Półprzezroczyste tło dla lepszej czytelności */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; /* Ograniczenie szerokości kontenera */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtelny cień dla estetyki */
    margin: auto; /* Wyśrodkowanie kontenera */
    box-sizing: border-box; /* Uwzględnienie paddingu w wymiarach */
}

#currentWeather, #forecast {
    margin-top: 20px; /* Odstęp od innych elementów */
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 10px;
    background-color: forestgreen;
    opacity: 88%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}
